@import 'null.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
@mixin to-sm {
    @media screen and (max-width: 768px){
        @content
    }
}
%input-style {
    border-style: solid;
    border-radius: 10px;
    min-height: 35px;
    width: 100%;
    margin-top: 10px;
    border: 3px solid;
    border-color: white;
    font-size: 19px;
    
}
body {
    height: 100%;
    font-family: 'Montserrat';
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.fullscreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.container {
    max-width: 1180px;
    margin:0 auto;
    padding: 0 15px; 
 
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.header {
    // min-height: 150px;
    background-color: white;
		&__nav {
            display:flex; 
            align-items: center;   
        }
		&__item {
            font-size: 20px;
            font-weight: 400;
            margin-right: 20px;
            &:last-child {
                margin-right: 0px;
            }
            &-first {
                font-weight: 700;
                margin-right: 40px;
            }        
        }
        &__registration {
            background-color: #38b6ff;
            text-transform: uppercase;
            color: white;
            padding: 10px;
            border-radius: 10px;
                & a {
                    color: white;
                }
        }
}
.content {
    background-image: url('../img/scott-graham-OQMZwNd3ThU-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
    
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;     
    }
       
    &__title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 48px;
        color: white;
        text-align: center;
        padding-top: 190px;
        margin-bottom: 161px;
        line-height: 52px;
        letter-spacing: 2px;
        @include to-sm() {
            font-size: 24px;
            padding-top: 138px;
            line-height: 35px;
        }
    }

    &__subtitle {
        font-weight: 700;
        font-size: 24px;
        color: white;
        text-shadow: 1px 1px 22px grey;
        text-align: center;
        margin-bottom: 62px;

    }

    &__advantages {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        @include to-sm() {
            flex-wrap: wrap;
            font-size: 24px;
            padding-top: 40px;
            justify-content: center;
        }
    }

    &__advantage {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__icon {
           width: 48px;
           height: 48px;
           margin-bottom: 22px;
    }

    &__description {
        text-align: center;
        font-size: 20px;
    }

    &__button {
        text-transform: uppercase;
        font-size: 30px;
        color: white;
        background-color: #38b6ff;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 30px;
    }
}

.form-registration {
    // display: none;
    &__row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__type-profile {}

    &__area {}

    &__company {}

    &__status {}

    &__e-mail {}

    &__password {}

    &__repeat-password {}

    &__submit {
        text-align: center;
        width: 100%;
        padding: 10px;
    }
}
.form {

    &__title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 40px;
        text-align: center;
        color: white;
        
    }
}
.form-item {
    margin-bottom: 35px;
}
.lable-lastname {
    
}
.input-field, select {
    @extend %input-style;
    &~span {
        display: none;
    }
}
.lable-firstname {
}
.lable-company {
}
.lable-email {
}
.lable-password {
}
#main_form {
    background-color: #38b6ff;
    padding: 40px;
    border-radius: 10px;
}
.lable-registr {
    font-size: 18px;
    color: white;   
}
.sub-button {
    background-color: green;
    text-transform: uppercase;
    color: white;
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    font-size: 20px;
    
}
.error {
    border-color: red;    
    &~span {
        font-size: 14px;
        color: black;
        display: block;
        
    }   
}
.erroremail {
    border-color: red;    
    &~span {
        font-size: 14px;
        color: black;
        display: block;
        
    }   
}

.thanksreg {
    display: block;
    margin-top: 40px;
    &__text {
        color: white;
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 35px;
    }

    &__link {
        & a {
            font-size: 20px;
        }

    }
    &__row {
        background-color: #38b6ff;
        flex-direction: column;
        max-width: 768px;
        justify-content: center;
        margin: 0 auto;
        border-radius: 10px;
        padding: 40px;
    }
}

.thanks {
    display: none;
}
.form_registrationoff {
    display: none;
}

.login {

    &__wrapper {
        
    }

    &__form {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #38b6ff;
        padding: 40px;
        border-radius: 10px;
        max-width: 500px;
        margin: 0 auto;
    }
}

.form-item {
    width: 100%;
}
.input-field {
}


.main-wrapper {
    background-color: #c8ebff;
    padding-top: 40px;
}

.cabinet {

		&__hello {
            margin-bottom: 20px;
            font-size: 20px;
        }

		&__block {
            
        }
}
.main-information {
    background-color: white;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.personal-data {
    font-size: 16px;
    font-weight: 700;
		&__area {
            margin-bottom: 15px;
        }

		&__status {}
}
.choose {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
    &__title {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 33px;
        text-align: center;
    }
}
.choose-block {
    display: flex;
    justify-content: space-around;
    & label {
        font-size: 18px;
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }
		&__button {
            text-transform: uppercase;
            color: white;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            padding: 14px;
            border-radius: 10px;
            font-size: 20px;
            background-color: rgb(105, 160, 105);
            transition: background-color 0.2s;
            &:hover {
                background-color: green;
                
            }
        }
}
.recomendation {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
    overflow: hidden;
    &__title {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 33px;
        text-align: center;
    }
    &__cards {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        
    }

}
.recomendation-card{
    background-color: #c8ebff;
    border-radius: 10px;
    border: 1px solid green;
    padding: 20px;
    width: 50%;
    min-width: 400px;
    height: 166px;
    margin-right: 20px;
    
    &__company {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    &__firstname {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    &__area {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    &__button {
        margin: 0 auto;
        display: block;
        padding: 10px;
        border-radius: 10px;
    }
}
[type=checkbox] {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    

}
.arrows {
    position: absolute;
    bottom: -188px;
    position: relative;
    display: none;
    // display: block;
    z-index: 10;
}
.arrow-left {
 
}
.arrow-right {
    right: 0px;
    position: absolute;
    
}
.transitionright {
    transform: translate(400px, 0px);
    transition: 0.5s;
}
.transitionleft {
    transform: translate(-400px, 0px);
    transition: 0.5s;
}
.nouseroff {
    display: none;
}
.nouser {
    display: block;
    font-size: 28px;
    color: red;
    text-align: center;
    margin-bottom: 10px;
}